{% comment %}
  Usage:
  {% render 'alp-slide-sub-mega-menu-3' block: block, container: container %}
{% endcomment %}

{% liquid
  assign bs = block.settings
  if show_price
    assign price_display = 'show_price'
  endif
%}

<div
  class="slide-sub-menu-wrapper"
  data-list-style="{{ style | default: 'style_one' }}"
  data-show-price="{{ price_display | default: '' }}"
>
  <div class="slide-sub-menu-header">
    <div class="slide-menu-back-in">{% render 'icon-arrow-left' %}</div>
    <div>{{- bs.menu_title | strip -}}</div>
    <div class="slide-menu-close-in">
      {%- render 'icon-close' -%}
    </div>
  </div>
  <div class="slide-sub-menu-ul">
    <div class="mega-linklist-wrapper mega-menu-icon-wrapper">
      {%- if bs.menu_a_title != blank -%}
        {% render 'mega-menu-icon-content',
          title: bs.menu_a_title,
          icon: bs.menu_a_icon,
          richtext: bs.menu_a_content,
          richtext2: bs.menu_a_link
        %}
      {%- endif -%}
      {%- if bs.menu_b_title != blank -%}
        {% render 'mega-menu-icon-content',
          title: bs.menu_b_title,
          icon: bs.menu_b_icon,
          richtext: bs.menu_b_content,
          richtext2: bs.menu_b_link
        %}
      {%- endif -%}
      {%- if bs.menu_c_title != blank -%}
        {% render 'mega-menu-icon-content',
          title: bs.menu_c_title,
          icon: bs.menu_c_icon,
          richtext: bs.menu_c_content,
          richtext2: bs.menu_c_link
        %}
      {%- endif -%}
      {%- if bs.menu_d_title != blank -%}
        {% render 'mega-menu-icon-content',
          title: bs.menu_d_title,
          icon: bs.menu_d_icon,
          richtext: bs.menu_d_content,
          richtext2: bs.menu_d_link
        %}
      {%- endif -%}
    </div>
  </div>
  <div class="mega-menu-buttons">{{ bs.mega_button_content }}</div>
</div>
