{% comment %}
  {% for item in product.metafields.custom.alp_frame_block.value %}
    <div class="alp_frame_block_item">
      <img loading="lazy" src="{{ item.img }}" alt="" width="36" height="36">
      <div class="alp_frame_block_item_title">{{ item.title }}</div>
    </div>
  {% endfor %}
{% endcomment %}

<div class="alp_frame_block_item">
  <a class="full-aa" href="https://www.mokwheel.com/pages/shipping" target="_blank"></a>
  <img
    loading="lazy"
    src="https://cdn.shopify.com/s/files/1/0550/4424/3702/files/1_3x_9804068e-a787-4b55-a263-cd067f6dadae.png?v=1744102183"
    alt=""
    width="36"
    height="36"
  >
  <div class="alp_frame_block_item_title">
    Free<br>
    Shipping
  </div>
</div>

<div class="alp_frame_block_item">
  <a class="full-aa" href="https://www.mokwheel.com/pages/return-refund-policy" target="_blank"></a>
  <img
    loading="lazy"
    src="https://cdn.shopify.com/s/files/1/0550/4424/3702/files/icon_3x_cee6e2dc-688c-4694-a0b5-792ad288d16c.png?v=1744102195"
    alt=""
    width="36"
    height="36"
  >
  <div class="alp_frame_block_item_title">
    15-Day<br>
    Returns
  </div>
</div>

<div class="alp_frame_block_item">
  <a class="full-aa" href="https://www.mokwheel.com/pages/warranty" target="_blank"></a>
  <img
    loading="lazy"
    src="https://cdn.shopify.com/s/files/1/0550/4424/3702/files/icon_3x_1_328e05a4-9b4e-4f84-9bc3-da8270a674d2.png?v=1744102214"
    alt=""
    width="36"
    height="36"
  >
  <div class="alp_frame_block_item_title">
    2-Year<br>
    Warranty
  </div>
</div>

{% comment %} <div class="alp_frame_block_item">
  <a class="full-aa" href="javascript:void(0)"></a>
  <img
    loading="lazy"
    src="https://cdn.shopify.com/s/files/1/0550/4424/3702/files/icon_4x_b462d9db-2180-4cdd-b160-d7c74c465c9a.png?v=1746684553"
    alt=""
    width="36"
    height="36"
  >
  <div class="alp_frame_block_item_title">30-Day Price Protection</div>
</div> {% endcomment %}
